<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opciones De Turnos</title>
    <link rel="stylesheet" href="/css/listadoDeTurnos.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <section class="botones">
            <article>
                <div class="nuevoTurno">
                    <input class="botonNuevoTurno" href="" type="submit" value="Nuevo Turno">
                </div>
            </article>

            <article>
                <div class="proximoTurno">
                    <input class="botonProximoTurno" href="" type="submit" value="Proximo Turno">
                </div>
            </article>
        </section>
    </main>
</body>
</html>
