<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/header') %>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <div id ="generarTurno">
        <h2> Generar Nuevo Turno </h2>
        <form action="/" method="POST">
        
            <label for="Numero">Numero: </label>
            <input class="Controles" type="text" name="Numero" id="Numero">

            <label  for="Sector">Sector: </label>
            <input class="Controles" type="text" name="Sector" id="Sector">

            <label for="Puesto">Puesto: </label>
            <input class="Controles" type="text" name="Puesto" id="Puesto">

            <div id = botonesTurno>
                <input class="button botones" type="submit" value="Generar Turno">
                <input class="button botones" type="submit" value="Cancelar Turno">
            </div>  
        </form>
    </div>
</body>
</html>