<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/header') %>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/vistaturnos.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <main>
        <table>
            <tr>
              <th>Numero</th>
              <th>Sector</th>
            <% for(turno of listadoDeTurnos){

            %>
            <tr>
              <td><%= turno.code %></td>
            </tr>
            <%
            }
            %>
            <tr>
            <% for(sector of listadoDeTurnos){
              
            %>
            <tr>
              <td><%= sector.box %></td>
            </tr>
            <%
            }
            %>
          </table>
          <script src = "/javascript/vistaTurnos.js"></script>
    </main>
    <%-include('./partials/footer') %>
</body>
</html>