<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turnos</title>
    <link rel="stylesheet" href="/css/vistaTurnos.css">
</head>
<body>
    <header>
        <div class="divSuperiorHead">
            <img class="logo" src="" alt="logo">
        </div>

        <div class="mainNavBar">
            <ul class="seccionesPagina">
                <li><a href="#">Turnos</a></li>
                <li><a href="#">Opciones de turnos</a></li>
                <li><a href="#">Iniciar Sesión</a></li>
            </ul>
        </div>
    </header>
    <main>
        <section class="titulosCuadrados">
            <article>
                <div class="numero">
                    <h3>Numero</h3>
                </div>
            </article>

            <article>
                <div class="sector">
                    <h3>Sector</h3>
                </div>
            </article>

            <article>
                <div class="puesto">
                    <h3>Puesto</h3>
                </div>
            </article>
        </section>
    </main>
</body>
</html>