<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partial/header') %>
    <link rel="stylesheet" href="/css/vistaTurnos.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <table>
            <tr>
              <th>Numero</th>
              <th>Sector</th>
              <th>Puesto</th>
            </tr>
            <tr>
              <td>F77</td>
              <td>Finanzas</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Y84</td>
              <td>Pagos</td>
              <td>2</td>
            </tr>
            <tr>
              <td>H58</td>
              <td>Caja</td>
              <td>3</td>
            </tr>
          </table>
    </main>
</body>
</html>