<header>
    <div class="divSuperiorHead">
        <img class="logo" src="" alt="logo">
    </div>

    <div class="mainNavBar">
        <ul class="seccionesPagina">
            <li><a href="#">Turnos</a></li>
            <li><a href="#">Opciones de turnos</a></li>
            <li><a href="#">Iniciar Sesión</a></li>
        </ul>
    </div>
</header>