<header>
    <div id = "icon-header">
        <a href = "/login" id = "icon-destok"> <img src = "/img/header.jpg" name= "logo"> </a>
    </div>
        <nav class = "menu-productos-expand"> 
            <ul>
                <a href="/"> Vista Turnos </a>
                <a href="/listadoDeTurnos"> listadoDeTurnos</a>
                <a href="/login"> login </a>
            </ul> 
        </nav>                 
</header>